
<div class="article-show">
  <h1><%= @article.title %></h1>
  <p class="article-meta">
    Published <%= @article.created_at.strftime("%B %d, %Y") %>
  </p>

  <div class="article-body">
    <%= simple_format(@article.body) %>
  </div>

  <hr>

  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", @article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back", root_path %>
</div>
